<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
    <typeAliases>
        <typeAlias alias="mvo" type="com.voca.vocaapp.domain.MemberVO"/>
        <typeAlias alias="vvo" type="com.voca.vocaapp.domain.VocaVO"/>
        <typeAlias alias="vdto" type="com.voca.vocaapp.domain.VocaDTO"/>
        <typeAlias alias="hvo" type="com.voca.vocaapp.domain.HistoryVO"/>
        <typeAlias alias="vhvo" type="com.voca.vocaapp.domain.VocaHistoryVO"/>
        <typeAlias alias="sdto" type="com.voca.vocaapp.domain.SearchDTO"/>
        <typeAlias alias="cdto" type="com.voca.vocaapp.domain.CalendarDTO"/>
    </typeAliases>
</configuration>