<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voca.vocaapp.repository.MemberMapper">
    <select id="login" parameterType="mvo" resultType="mvo">
        select * from member where email = #{email}
    </select>
    <select id="selectOneFromMno" parameterType="int" resultType="mvo">
        select * from member where mno = #{mno}
    </select>
    <update id="lastLogin" parameterType="String">
        update member set last_login = now() where email = #{email}
    </update>
</mapper>