<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voca.vocaapp.repository.VocaMapper">
    <select id="selectVocaHistoryList" parameterType="sdto" resultType="vdto">
        select v.vno, v.origin, v.mean from voca v join (
            select vno, vhno from voca_history vh
            where mno = #{mno}
            order by rand()
        ) vh on v.vno = vh.vno limit #{goal}
    </select>
    <select id="selectRandList" parameterType="sdto" resultType="vdto">
        select v2.vno, v2.origin, v2.mean from (
            select v1.vno, v1.origin, v1.mean from voca v1
            where v1.vno not in (
                select vno from voca_history vh  where mno = #{mno}
            )
            order by rand()
        ) v2 limit #{goal};
    </select>
    <select id="selectVocaListFromHno" parameterType="long" resultType="vdto">
        select v.vno, v.origin, v.mean, vh.is_new, vh.correct
        from voca v join voca_history vh on v.vno = vh.vno
        where vh.hno = #{hno}
    </select>
</mapper>